.tagsList{
    display: flex;
    flex-wrap: wrap;
    border: none;
    padding-left: 0px;
}
.tagsList  li{
    color: #333;
    list-style: none;
    border-radius: 5px;
    background: #d4d7ff;
    padding: 5px 8px 5px 10px;
    border: 1px solid #e3e1e1;
    margin-right: 1px
}
.tagsList li span{
    height: 15px;
    width: 15px;
    color: #808080;
    margin-left: 3px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 2px;
    border: 1px solid #e3e1e1;
    padding: 2px;
    background: #dfdfdf;
    justify-content: center;
}
.tagsList input{
    flex: 1;
    font-size: 14px;
    background: transparent;
}

.simple-tags-input-search-list {
    position: relative;
    padding-left: 0px;
    border: 1px solid lightgrey;
    margin-top: 5px;
    max-height: 200px;
    overflow-y: auto;
}
.simple-tags-input-search-list li{
    list-style: none;
    border-bottom: 1px solid lightgrey;
    padding: 5px;
    cursor: pointer;
}

.simple-tags-input-search-list li:hover {
    background: #f5f5f5;
    font-weight: 600;
}